.App {
    background-color: #666666;
    text-align: center;
    min-height: 100vh;
}

.border {
    border: 1px solid #ffffff;
    border-radius: 13px;
}

.container-columns-header {
    background-color: #7798BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(12px + 2vmin);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-columns-center {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.container-columns-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-rows-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.font-title {
    font-size: calc(10px + 2vmin);
    color: white;
    font-weight: bolder;
}

.font-title-small {
    color: white;
    font-size: calc(10px + 1vmin);
    font-weight: bolder;
}

.font-link {
    color: #61dafb;
    font-size: calc(10px + 1vmin);
}

.font-default-text {
    color: white;
    font-size: calc(10px + 1vmin);
}

.font-text-small {
    color: white;
    font-size: calc(8px + 1vmin);
}

.margin-all {
    margin: 10px 10px 10px 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.padding-sides {
    padding-left: 7px;
    padding-right: 7px;
}

.wrap {
    flex-wrap: wrap;
}

select {
    font-size: calc(8px + 1vmin);
    width: 250px;
    height: 30px;
}

option {
    font-size: calc(8px + 1.5vmin);
    padding: 0 8px 0 8px;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    border-top: #222 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

option:hover {
    background: #666;
}

select:focus option {
    position: relative;
    pointer-events: all;
}
